.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newpass-container,
.re-newpass-container {
  position: relative;
  width: 100%;
}

.eyes-icon {
  position: absolute;
  font-size: 1.6rem;
  top: 21%;
  right: 2%;
  color: #7e7d88;
  padding: 6px;
  cursor: pointer;
}

.forget-password {
  align-self: flex-start;
  display: block;
  text-decoration: none;
  color: #e73f3f;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 21px;
  margin-left: 96px;
}
