.device__page .content__feature {
  justify-content: space-between;
}

.device__page .left__group {
  display: flex;
}

.device__page .left__group .feature__group:first-child {
  margin-right: 24px;
}

.device__page .feature__group {
  min-width: 300px;
}

.device__page .list__box,
.device__page .search-input {
  width: 300px;
}
