:root {
  --color-background1: 102, 149, 251;
  --color-background2: 53, 199, 90;
  --color-background3: 255, 172, 106;
  --color-background4: 248, 109, 109;
  --color-background-percent1: 255, 149, 1;
  --color-background-percent2: 231, 63, 63;
}

.space__dashboard {
  display: flex;
}

.dashboard__page .header__fa {
  color: var(--primary-btn);
}

.content__chart-wrapper {
  margin-top: 16px;
}

.popup-group {
  width: 790px;
  height: 128px;
  display: flex;
}

.popup-group .popup-item:not(:last-child) {
  margin-right: 13px;
}

.popup-item {
  width: 186px;
  height: 120px;
  background-color: #fff;
  border-radius: 10px;
}

.popup-item-top {
  display: flex;
  align-items: center;
  margin: 8px 12px 12px 12px;
}

.popup-item-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12px 8px 12px;
}

.popup-item-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: var(--text-color);
}

.popup-percent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 15px;
  border-radius: 8px;
}

.background-percent1 {
  background-color: rgba(var(--color-background-percent1), 0.15);
}

.background-percent2 {
  background-color: rgba(var(--color-background-percent2), 0.15);
}

.percent1 {
  color: rgb(var(--color-background-percent1));
}

.percent2 {
  color: rgb(var(--color-background-percent2));
}

.popup-item-border-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.popup-item-icon {
  font-size: 2.4rem;
}

.background-icon1 {
  background-color: rgba(var(--color-background1), 0.15);
}

.background-icon2 {
  background-color: rgba(var(--color-background2), 0.15);
}

.background-icon3 {
  background-color: rgba(var(--color-background3), 0.15);
}

.background-icon4 {
  background-color: rgba(var(--color-background4), 0.15);
}

.icon1 {
  color: rgb(var(--color-background1));
}

.icon2 {
  color: rgb(var(--color-background2));
}

.icon3 {
  color: rgb(var(--color-background3));
}

.icon4 {
  color: rgb(var(--color-background4));
}

.popup-item-name {
  max-width: 75px;
  font-size: 1.4rem;
  font-weight: 700;
}

.popup-percent-icon {
  font-size: 0.7rem;
  margin-bottom: 1px;
  margin-right: 4px;
}

.popup-number-percent {
  font-weight: 400;
  font-size: 8px;
}

.dashboard__page .chart {
  width: 783px;
  height: 494px;
  padding: 24px;
  background: #ffffff;
  border-radius: 12px;
  margin-top: 6px;
}

.dashboard__page .chart__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.dashboard__page .chart__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #282739;
}

.dashboard__page .chart__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a9a9b0;
}

.dashboard__page .chart__drop-group {
  display: flex;
  align-items: center;
}

.dashboard__page .chart__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #282739;
  margin-right: 8px;
}

.dashboard__rightbar {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 810px;
  background-color: #fff;
  margin-left: 20px;
  margin-top: -24px;
}

.dashboard__rightbar .user {
  display: flex;
  justify-content: flex-end;
  padding-top: 26px;
}

.dashboard__rightbar .calendar__right {
  display: flex;
  justify-content: center;
}

.dashboard__rightbar .overview {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  margin-bottom: 8px;
}

.dashboard__rightbar .overview__head {
  margin-left: 24px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 36px;
  color: #ff7506;
}

.dashboard__rightbar .overview__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.dashboard__rightbar .overview__item {
  display: flex;
  align-items: center;
  width: 353px;
  height: 83px;
  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
  border-radius: 12px;
  margin-bottom: 12px;
}

.dashboard__rightbar .overview__item-chart {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex: 1;
}

.dashboard__rightbar .overview__item-number-group {
  flex: 1;
}

.dashboard__rightbar .overview__item-status-group {
  flex: 2;
  margin-left: 30px;
}

.dashboard__rightbar .overview__item-number {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #535261;
}

.dashboard__rightbar .overview__item-name-group {
  display: flex;
  align-items: center;
}

.dashboard__rightbar .overview__item-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-left: 8px;
}

.dashboard__rightbar .overview__item-status {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.dashboard__rightbar .overview__item-status-icon {
  font-size: 0.5rem;
}

.dashboard__rightbar .overview__item-status-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #7e7d88;
  margin-left: 4px;
  margin-right: 12px;
}

.dashboard__rightbar .overview__item-status-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.dashboard__rightbar .item-chart {
  width: 64px;
}

.dashboard__rightbar .item-chart2 {
  top: 8px;
  position: absolute;
  width: 48px;
  left: 16.5px;
  font-weight: 700;
}

.dashboard__rightbar .item-chart3 {
  top: 14.5px;
  position: absolute;
  width: 34px;
  left: 24px;
  font-weight: 700;
}

.item-chart2 .CircularProgressbar-text {
  transform: translate(-21px, 7px);
}

.item-chart3 .CircularProgressbar-text {
  transform: translate(-29px, 7px);
}
