.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__wraper,
.header__user {
  display: flex;
  align-items: center;
}

.header__wraper {
  margin-right: 60px;
}

.header__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-btn);
}

.border__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff2e7;
  border-radius: 50%;
  margin-right: 24px;
  font-size: 1.8rem;
  color: #ffac6a;
  cursor: pointer;
}

.border__icon:hover {
  background-color: var(--primary-btn);
  color: #fff;
}

.border__icon:hover .notify__wrapper {
  display: block;
}

.user__avatar {
  margin-right: 8px;
}

.text_hello {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 18px;
}

.user__name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #535261;
  line-height: 24px;
}

.content {
  width: 1112px;
  height: 397px;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 100px;
}

.content__wrapper {
  display: flex;
  padding: 40px 24px;
}

.avatar__col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__name {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  margin-top: 19px;
}

.input__col {
  flex: 2;
  margin-left: 24px;
}

.input__form {
  margin-bottom: 24px;
}

.input__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--bold-text);
}

.input__value {
  width: 384px;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  padding: 12px 16px;
  background-color: #eaeaec;
  margin-top: 8px;
}

.content__avatar {
  position: relative;
}

.content__avatar-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: var(--primary);
  border: 2px solid #fff;
  border-radius: 50%;
  right: 31px;
  bottom: 50px;
}

.camera__icon {
  color: #fff;
}

/* Notify wrapper */
.notify__wrapper {
  display: none;
  position: absolute;
  width: 360px;
  height: 526px;
  background-color: #fff;
  top: 40px;
  left: -100px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
}

.notify__wrapper::before {
  content: '';
  position: absolute;
  width: 20%;
  height: 30px;
  top: -24px;
  left: 74px;
}

.notify__header {
  display: flex;
  height: 48px;
  background-color: var(--primary-btn);
  color: #fff;
  align-items: center;
  padding-left: 24px;
  font-size: 2rem;
  font-size: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.notify__list {
  max-height: calc(100% - 48px);
  padding: 0px 24px;
  list-style: none;
  overflow-y: auto;
}

.notify__item {
  border-bottom: 1.5px solid #d4d4d7;
  margin-bottom: 12px;
}

.item__name {
  margin-top: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24px;
  color: #bf5805;
}

.item__time {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  margin-bottom: 12px;
}
