.home__page .content {
  width: 1112px;
  height: 397px;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 100px;
}

.content__wrapper {
  display: flex;
  padding: 40px 24px;
}

.avatar__col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__name {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  margin-top: 19px;
}

.input__col {
  flex: 2;
  margin-left: 24px;
}

.input__form {
  margin-bottom: 24px;
}

.input__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--bold-text);
}

.input__value {
  width: 384px;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  padding: 12px 16px;
  background-color: #eaeaec;
  margin-top: 8px;
}

.content__avatar {
  position: relative;
}

.content__avatar-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: var(--primary);
  border: 2px solid #fff;
  border-radius: 50%;
  right: 31px;
  bottom: 50px;
}

.camera__icon {
  color: #fff;
}
