.service__page .content__feature {
  justify-content: space-between;
}

.service__page .left__group {
  display: flex;
}

.service__page .left__group .feature__group {
  margin-right: 24px;
}

.service__page .list__box {
  width: 300px;
}
