.login-page {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 810px;
}

.form-side {
  width: 100%;
  max-width: 592px;
  background-color: #f7f7f7;
}

.form-logo {
  height: 136px;
  width: 170px;
  margin: 82px 214px 75px 208px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form-label {
  color: var(--text-color);
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 4px;
}

.form-control {
  color: var(--placeholder-color);
  height: 44px;
  width: 400px;
  font-size: 1.8rem;
  border: 1.5px solid;
  border-radius: 8px;
  border-color: var(--border-color);
  padding: 10px 12px 10px 12px;
}

.login-img {
  position: relative;
  width: 605px;
  height: 614.06px;
  margin-top: 112.94px;
  margin-left: 79px;
}

.app-name {
  position: absolute;
  color: var(--primary);
  top: 410px;
  right: 33px;
}

.text1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 47px;
}

.text2 {
  font-size: 3.6rem;
  line-height: 54px;
  font-weight: 900;
}

.form-submit {
  border: none;
  color: #fff;
  margin: 24px 0 8px;
  background-color: var(--primary-btn);
}

.form-cancel {
  color: var(--primary-btn);
  background-color: #fff;
  border: 1.5px solid;
  border-color: var(--primary-btn);
}

.form-continue {
  border: none;
  color: #fff;
  margin-left: 22px;
  background-color: var(--primary-btn);
}

.addtable__link {
  text-decoration: none;
}

/* Input error */
.input-error {
  border: 1.5px solid #e73f3f;
}

.form__message {
  display: flex;
  align-items: center;
  color: #e73f3f;
  margin-top: 14px;
}

.error__icon {
  font-size: 1.6rem;
  padding-right: 5px;
}

.error__text {
  font-size: 1.4rem;
  font-weight: 400;
}

/* Header pages css */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page__rank {
  display: flex;
  align-items: center;
}

.header__fa {
  font-size: 2rem;
  font-weight: 700;
  color: #7e7d88;
}

.page__rank-icon {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 0 15.4px;
}
/* End */

/* Paging */

.paging {
  width: 1112px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 24px;
}

.paging__icon {
  margin: 0 12px;
}

.paging__list {
  display: flex;
  list-style: none;
}

.paging__item {
  padding: 5px 11px;
  border-radius: 4px;
  cursor: pointer;
}

.paging__item.paging__active {
  background-color: var(--primary);
}

/* end: paging */

/* Begin: Pages css */
.content {
  margin-top: 45px;
}

.content__heading {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 36px;
  color: var(--primary);
}

.content__feature {
  display: flex;
  width: 1112px;
  margin-top: 16px;
}

.feature__name {
  display: block;
  line-height: 24px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--bold-text);
  margin-bottom: 4px;
}

/* Css for search and listbox */
.list__box,
.search-input {
  height: 44px;
  padding: 10px 12px;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 24px;
  border-radius: 8px;
  border: 1.5px solid var(--border-color);
}

.input__container {
  position: relative;
}

.search-input-icon {
  position: absolute;
  top: 25%;
  right: 10px;
  color: var(--primary);
  cursor: pointer;
}

/* Css for content, table */

.content__board {
  display: flex;
  margin-top: 16px;
}

.add__table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 94px;
  margin-left: 18px;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 600;
  color: var(--primary);
  background-color: #fff2e7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
}

.add__table-icon {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 6px;
}
