.content__detail {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
}

.content__detail .full-col {
  width: 100%;
  display: flex;
}

.content__detail .col-2 {
  width: 50%;
}

.content__detail .detail__group {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}

.content__detail .detail__label,
.detail__page .detail__label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #282739;
  margin-right: 43px;
}

.content__detail .detail__value,
.detail__group .detail__value {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #535261;
}

.detail__group.wrap {
  flex-direction: column;
}

.detail__label {
  margin-bottom: 8px;
}

.content__wrapper-detail {
  display: flex;
}

.btn__update,
.btn__back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 19px;
  color: #ff7506;
  width: 80px;
  height: 94px;
  margin-top: 16px;
  margin-left: 24px;
  background: #fff2e7;
  border: none;
  box-shadow: 0px 0px 6px #e7e9f2;
  border-radius: 8px;
  cursor: pointer;
}

.btn-update__icon,
.btn-back__icon {
  padding: 5px;
  font-size: 1.4rem;
  color: #fff;
  background: #ff9138;
  border-radius: 4px;
  margin-bottom: 6px;
}

.value__icon {
  font-size: 0.8rem;
  margin-right: 4px;
  margin-bottom: 2px;
}

.btn__link {
  text-decoration: none;
}

.detail__group {
  display: flex;
  margin-left: 24px;
  margin-bottom: 12px;
}

.content__group .form__group {
  margin-left: 24px;
  margin-bottom: 12px;
}

.detail__page .detail__label.no-marin-left {
  margin-right: 0;
}

.detail__page .content__body.content__body--small {
  width: 370px;
  margin-right: 24px;
}

.detail__page .content__body.content__body--big {
  width: 718px;
}

.content__feature-head {
  display: flex;
  margin: 16px 25px;
}

.detail__page .feature__group:not(:last-child) {
  margin-right: 12px;
}

.detail__page .search__group {
  width: 200px;
}

.detail__page .table {
  width: 670px;
  height: 340px;
  margin: 0 24px;
}

.detail__page .content__btn {
  display: flex;
  flex-direction: column;
}

.detail__page .btn-no-martop {
  margin-top: 0;
  border-top: 1.5px solid #ffe3cd;
}

.detail__page .radius-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.detail__page .radius-bot {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.detail__ex {
  font-weight: 400;
  font-size: 1.6rem;
  color: #282739;
}
